<%- include('partials/navhead') %>

  <%- include('partials/head') %>


    <body>
      <%- include('partials/navbar') %>
        <Section id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/dog-bg.png" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h2 class="furry">Caring for <br> Your Furry <br> Friends</h2>
                <p>Great service and pet care solutions for your busy lifestyle.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/cat-bg.png" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h2 class="furry">Caring for <br> Your Furry <br> Friends</h2>
                <p>Great service and pet care solutions for your busy lifestyle.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/puppy-bg.png" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h2 class="furry">Caring for <br> Your Furry <br> Friends</h2>
                <p>Great service and pet care solutions for your busy lifestyle.</p>
              </div>
            </div>
          </div>

          <button class="btn" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
            <i class="fa-solid fa-angle-left left"></i>
          </button>
          <button class="btn" type="button" data-target="#carouselExampleCaptions" data-slide="next">
            <i class="fa-solid fa-angle-right right"></i>
          </button>
        </Section>
        <section class="" id="home-info">
          <div>
            <h2 id="home-main-text">We Have Everything Your Pet Needs.</h2>
            <p class="greyc"> We believe in safe socialization, exercise and education for your furry child. </p>
          </div>
          <div class="home-list">
            <div>
              <i class="fa-solid fa-comment dog-icon text-info"></i>
              <h3 class="describe-text">Our Story</h3>
              <p class="describe-para greyc">We know that your furry child will be in great hands with us.</p>
              <button class="describe-btn">Read More <i class="fa-solid fa-angle-right"></i> <i
                  class="fa-solid fa-angle-right"></i></button>
            </div>
            <div>
              <i class="fa-solid fa-paw dog-icon text-info"></i>
              <h3 class="describe-text">What We Do</h3>
              <p class="describe-para greyc">We love and care for your pets like they are our own.</p>
              <button class="describe-btn">Read More <i class="fa-solid fa-angle-right"></i> <i
                  class="fa-solid fa-angle-right"></i></button>
            </div>
            <div>
              <i class="fa-solid fa-clock dog-icon text-info"></i>
              <h3 class="describe-text">Opening Hours!</h3>
              <p class="describe-para greyc">Our office hours are Mon-Fri from 9am -5pm!</p>
              <button class="describe-btn">Read More <i class="fa-solid fa-angle-right"></i> <i
                  class="fa-solid fa-angle-right"></i></button>
            </div>
          </div>
        </section>
        <section>
          <div class="container-fluid">
            <div class="row pic-space ">
              <div class="col pic-space ">
                <img class="pics picdog " src="images/dog1.JPG" alt="">
              </div>
              <div class="col pic-space ">
                <img class="pics" src="images/cat1.JPG" alt="">
              </div>
              <div class="col pic-space ">
                <img class="pics" src="images/parrot1.JPG" alt="">
              </div>
              <div class="col pic-space ">
                <img class="pics" src="images/puppy1.JPG" alt="">
              </div>
            </div>
            <div class="row pic-space ">
              <div class="col pic-space ">
                <img class="pics" src="images/cat2.JPG" alt="">
              </div>
              <div class="col pic-space ">
                <img class="pics picdog" src="images/dog2.JPG" alt="">
              </div>
              <div class="col pic-space ">
                <img class="pics" src="images/kitten2.JPG" alt="">
              </div>
              <div class="col pic-space ">
                <img class="pics" src="images/turtle2.JPG" alt="">
              </div>
            </div>
            <div class="row pic-space ">
              <div class="col pic-space ">
                <img class="pics" src="images/dog3.JPG" alt="">
              </div>
              <div class="col pic-space ">
                <img class="pics" src="images/cat3.JPG" alt="">
              </div>
              <div class="col pic-space ">
                <img class="pics pic-rat" src="images/rat3.JPG" alt="">
              </div>
              <div class="col pic-space ">
                <img class="pics" src="images/puppy3.JPG" alt="">
              </div>
            </div>
          </div>
        </section>

        <!-- <h1>Hello people <%= 4+5+1 %> <%='Helloworld'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora deleniti repellat totam quod accusamus et amet, laborum reprehenderit numquam quia voluptas qui, natus aliquam inventore beatae maxime delectus saepe nostrum?</p> -->
        <%- include('partials/footer') %>


    </body>