<%- include('partials/navhead') %> 

<%- include('partials/head') %> 


<body>
    <%- include('partials/navbar') %> 
    <Section id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="http://localhost:3000/images/dog-bg.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="furry">Caring for <br> Your Furry <br> Friends</h2>
              <p>Great service and pet care solutions for your busy lifestyle.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="http://localhost:3000/images/cat-bg.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="furry">Caring for <br> Your Furry <br> Friends</h2>
              <p >Great service and pet care solutions for your busy lifestyle.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="http://localhost:3000/images/puppy-bg.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="furry">Caring for <br> Your Furry <br> Friends</h2>
              <p>Great service and pet care solutions for your busy lifestyle.</p>
            </div>
          </div>
        </div>
        
        <button class="btn" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
            <i class="fa-solid fa-angle-left left"></i>
                </button>
        <button class="btn" type="button" data-target="#carouselExampleCaptions" data-slide="next">
            <i class="fa-solid fa-angle-right right"></i>
                </button>
      </Section>
      <section class="" id="home-info">
        <div>
          <h2 id="home-main-text">We Have Everything Your Pet Needs.</h2>
          <p> We believe in safe socialization, exercise and education for your furry child. </p>
        </div>
      </section>
        





    <!-- <h1>Hello people <%= 4+5+1 %> <%='Helloworld'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora deleniti repellat totam quod accusamus et amet, laborum reprehenderit numquam quia voluptas qui, natus aliquam inventore beatae maxime delectus saepe nostrum?</p> -->
</body>

<!-- 
<%- include('partials/footer') %> 

<%- include('partials/footer') %>  -->
