<%- include('partials/promo') %> 

<%- include('partials/head') %> 


<body>
    <%- include('partials/navbar') %> 
    <%- include('partials/footer') %> 
    <h1>Hello people <%= 4+5+1 %> <%='Helloworld'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora deleniti repellat totam quod accusamus et amet, laborum reprehenderit numquam quia voluptas qui, natus aliquam inventore beatae maxime delectus saepe nostrum?</p>
</body>


<%- include('partials/footer') %> 